pandas 
numpy 
matplotlib 
matplotlib.pyplot 
flask 
flask-cors 
sklearn.ensemble 
sklearn.model_selection 
scipy.optimize 
scikit-learn

#conda install pandas numpy matplotlib scikit-learn scipy flask flask-cors
#pip install flask-cors

